Merging datas and Cleaning

In [63]:
import numpy as np
import pandas as pd

In [64]:
df1=pd.read_csv("..\Dataset\Energy Consuption data.csv")
df1.head()

,Emission_date,Expiration_date,CO2_emission,Emission_classification,Consumption_KWh_per_m2_per_year,Consumption_classification,Building_type,Building_condition,Year_of_construction,Surface_area_m2,Municipality,Province,GPS_coordinates,Days_until_expiration,year,month,day,New_date
0,2013-06-29,2023-06-29,30.11,E,142.33,E,Vivienda individual,Existente,1962,49.0,ZARAGOZA,ZARAGOZA,"674903,68 , 4612931,37",3652,2013,6,29,2013-06-29
1,2013-09-26,2023-09-26,46.06,E,174.42,E,Vivienda individual,Existente,1974,81.0,ZARAGOZA,ZARAGOZA,"674062,96 , 4612970,24",3652,2013,9,26,2013-09-26
2,2014-02-26,2024-02-26,20.30,D,94.16,D,Vivienda individual,Existente,1999,72.0,ZARAGOZA,ZARAGOZA,"671872,34 , 4612101,81",3652,2014,2,26,2014-02-26
3,2013-06-12,2023-06-12,39.21,E,187.66,E,Vivienda individual,Existente,1970,65.0,ZARAGOZA,ZARAGOZA,"676128,95 , 4613401,52",3652,2013,6,12,2013-06-12
4,2013-06-27,2023-06-27,103.75,G,409.03,G,Vivienda individual,Existente,1965,46.0,ZARAGOZA,ZARAGOZA,"674806,83 , 4613067,64",3652,2013,6,27,2013-06-27

In [83]:
df1.shape

(155451, 18)

In [65]:
df2=pd.read_csv("..\Dataset\weather(2013-23).csv")
df2.head()

,Earth Skin Temperature,Humidity,Surface Pressure,Temperature at 2 Meters Range,Temperature at 2 Meters Minimum,Temperature at 2 Meters Maximum,Wind Speed,date
0,6.26,5.00,97.43,7.57,3.69,11.26,7.42,2013-01-01
1,5.80,4.82,98.08,8.99,2.08,11.08,4.56,2013-01-02
2,3.56,3.60,99.10,10.90,0.87,11.76,5.65,2013-01-03
3,5.07,4.27,99.11,14.18,0.88,15.06,3.07,2013-01-04
4,7.21,5.19,98.64,11.91,4.19,16.11,2.79,2013-01-05

In [66]:
df3=pd.read_csv("..\Dataset\holidays.csv")
df3.head()

         Date               Name  holidays
0  2013-01-01     New Year's Day         1
1  2013-01-02     Reconquest Day         1
2  2013-01-06           Epiphany         1
3  2013-01-07  Epiphany observed         1
4  2013-02-11    Carnival Monday         1

#### Rename date columns to 'Date'

In [67]:
df1=df1.rename(columns={'New_date':'Date'})

df2=df2.rename(columns={'date':'Date'})

#### Convert 'date' columns to datetime format

In [68]:
df1['Date']=pd.to_datetime(df1['Date'])
df2['Date']=pd.to_datetime(df2['Date'])
df3['Date']=pd.to_datetime(df3['Date'])

In [69]:
df1.columns

Index(['Emission_date', 'Expiration_date', 'CO2_emission',
       'Emission_classification', 'Consumption_KWh_per_m2_per_year',
       'Consumption_classification', 'Building_type', 'Building_condition',
       'Year_of_construction', 'Surface_area_m2', 'Municipality', 'Province',
       'GPS_coordinates', 'Days_until_expiration', 'year', 'month', 'day',
       'Date'],
      dtype='object')

In [70]:
df2.columns

Index(['Earth Skin Temperature', ' Humidity', 'Surface Pressure',
       'Temperature at 2 Meters Range', 'Temperature at 2 Meters Minimum',
       'Temperature at 2 Meters Maximum', 'Wind Speed', 'Date'],
      dtype='object')

In [71]:
df3.columns

Index(['Date', 'Name', 'holidays'], dtype='object')

#### Merging date columns

In [72]:
merged_df = pd.merge(df1, df2, on='Date', how='inner')

In [73]:
merged_df

,Emission_date,Expiration_date,CO2_emission,Emission_classification,Consumption_KWh_per_m2_per_year,Consumption_classification,Building_type,Building_condition,Year_of_construction,Surface_area_m2,...,month,day,Date,Earth Skin Temperature,Humidity,Surface Pressure,Temperature at 2 Meters Range,Temperature at 2 Meters Minimum,Temperature at 2 Meters Maximum,Wind Speed
0,2013-06-29,2023-06-29,30.11,E,142.33,E,Vivienda individual,Existente,1962,49.00,...,6,29,2013-06-29,21.92,8.24,98.10,17.45,11.76,29.22,3.45
1,2013-09-26,2023-09-26,46.06,E,174.42,E,Vivienda individual,Existente,1974,81.00,...,9,26,2013-09-26,25.90,9.16,97.02,16.92,17.44,34.37,4.02
2,2014-02-26,2024-02-26,20.30,D,94.16,D,Vivienda individual,Existente,1999,72.00,...,2,26,2014-02-26,5.69,4.21,97.87,8.25,1.69,9.94,4.11
3,2013-06-12,2023-06-12,39.21,E,187.66,E,Vivienda individual,Existente,1970,65.00,...,6,12,2013-06-12,25.69,10.62,97.62,15.64,16.14,31.78,3.02
4,2013-06-27,2023-06-27,103.75,G,409.03,G,Vivienda individual,Existente,1965,46.00,...,6,27,2013-06-27,20.51,7.51,97.97,16.16,11.04,27.20,5.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155446,2023-12-26 00:00:00,2028-12-26,179.85,G,1015.16,G,Local,Existente,1965,25.42,...,12,26,2023-12-26,4.03,2.93,97.84,12.66,1.72,14.38,4.73
155447,2023-11-24 00:00:00,2033-12-20,18.68,B,86.84,B,Unifamiliar,Proyecto Reforma,2013,329.99,...,11,24,2023-11-24,8.87,5.25,97.34,12.41,4.40,16.82,3.14
155448,2023-12-22 00:00:00,2033-12-22,42.27,E,202.82,E,Vivienda individual,Existente,1977,100.86,...,12,22,2023-12-22,10.00,6.16,98.22,7.60,7.04,14.64,2.92
155449,2023-12-23 00:00:00,2033-12-23,40.00,C,236.15,D,Local,Existente,2007,93.00,...,12,23,2023-12-23,8.68,5.80,98.14,8.16,6.25,14.40,2.66
155450,2023-12-27 00:00:00,2028-12-27,118.27,G,564.45,G,Unifamiliar,Existente,2000,91.00,...,12,27,2023-12-27,2.95,2.69,97.93,14.16,-0.03,14.12,2.87

In [74]:
merged_df.columns

Index(['Emission_date', 'Expiration_date', 'CO2_emission',
       'Emission_classification', 'Consumption_KWh_per_m2_per_year',
       'Consumption_classification', 'Building_type', 'Building_condition',
       'Year_of_construction', 'Surface_area_m2', 'Municipality', 'Province',
       'GPS_coordinates', 'Days_until_expiration', 'year', 'month', 'day',
       'Date', 'Earth Skin Temperature', ' Humidity', 'Surface Pressure',
       'Temperature at 2 Meters Range', 'Temperature at 2 Meters Minimum',
       'Temperature at 2 Meters Maximum', 'Wind Speed'],
      dtype='object')

In [75]:
merged_data = pd.merge(merged_df, df3, on='Date', how='left')

merged_data

,Emission_date,Expiration_date,CO2_emission,Emission_classification,Consumption_KWh_per_m2_per_year,Consumption_classification,Building_type,Building_condition,Year_of_construction,Surface_area_m2,...,Date,Earth Skin Temperature,Humidity,Surface Pressure,Temperature at 2 Meters Range,Temperature at 2 Meters Minimum,Temperature at 2 Meters Maximum,Wind Speed,Name,holidays
0,2013-06-29,2023-06-29,30.11,E,142.33,E,Vivienda individual,Existente,1962,49.00,...,2013-06-29,21.92,8.24,98.10,17.45,11.76,29.22,3.45,NaN,NaN
1,2013-09-26,2023-09-26,46.06,E,174.42,E,Vivienda individual,Existente,1974,81.00,...,2013-09-26,25.90,9.16,97.02,16.92,17.44,34.37,4.02,NaN,NaN
2,2014-02-26,2024-02-26,20.30,D,94.16,D,Vivienda individual,Existente,1999,72.00,...,2014-02-26,5.69,4.21,97.87,8.25,1.69,9.94,4.11,NaN,NaN
3,2013-06-12,2023-06-12,39.21,E,187.66,E,Vivienda individual,Existente,1970,65.00,...,2013-06-12,25.69,10.62,97.62,15.64,16.14,31.78,3.02,NaN,NaN
4,2013-06-27,2023-06-27,103.75,G,409.03,G,Vivienda individual,Existente,1965,46.00,...,2013-06-27,20.51,7.51,97.97,16.16,11.04,27.20,5.42,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161270,2023-12-26 00:00:00,2028-12-26,179.85,G,1015.16,G,Local,Existente,1965,25.42,...,2023-12-26,4.03,2.93,97.84,12.66,1.72,14.38,4.73,St Stephen's Day,1.0
161271,2023-11-24 00:00:00,2033-12-20,18.68,B,86.84,B,Unifamiliar,Proyecto Reforma,2013,329.99,...,2023-11-24,8.87,5.25,97.34,12.41,4.40,16.82,3.14,NaN,NaN
161272,2023-12-22 00:00:00,2033-12-22,42.27,E,202.82,E,Vivienda individual,Existente,1977,100.86,...,2023-12-22,10.00,6.16,98.22,7.60,7.04,14.64,2.92,December Solstice,1.0
161273,2023-12-23 00:00:00,2033-12-23,40.00,C,236.15,D,Local,Existente,2007,93.00,...,2023-12-23,8.68,5.80,98.14,8.16,6.25,14.40,2.66,NaN,NaN
161274,2023-12-27 00:00:00,2028-12-27,118.27,G,564.45,G,Unifamiliar,Existente,2000,91.00,...,2023-12-27,2.95,2.69,97.93,14.16,-0.03,14.12,2.87,NaN,NaN

In [76]:
merged_data.isna().sum()

Emission_date                           0
Expiration_date                         0
CO2_emission                            0
Emission_classification                 0
Consumption_KWh_per_m2_per_year         0
Consumption_classification              0
Building_type                           0
Building_condition                      0
Year_of_construction                    0
Surface_area_m2                         0
Municipality                            0
Province                                0
GPS_coordinates                         0
Days_until_expiration                   0
year                                    0
month                                   0
day                                     0
Date                                    0
Earth Skin Temperature                  0
 Humidity                               0
Surface Pressure                        0
Temperature at 2 Meters Range           0
Temperature at 2 Meters Minimum         0
Temperature at 2 Meters Maximum         0
Wind Speed                              0
Name                               135076
holidays                           135076
dtype: int64

In [77]:
merged_data['holidays']=merged_data['holidays'].fillna(0)

In [84]:
merged_data.isna().sum()

Emission_date                      0
Expiration_date                    0
CO2_emission                       0
Emission_classification            0
Consumption_KWh_per_m2_per_year    0
Consumption_classification         0
Building_type                      0
Building_condition                 0
Year_of_construction               0
Surface_area_m2                    0
Municipality                       0
Province                           0
GPS_coordinates                    0
Days_until_expiration              0
year                               0
month                              0
day                                0
Date                               0
Earth Skin Temperature             0
 Humidity                          0
Surface Pressure                   0
Temperature at 2 Meters Range      0
Temperature at 2 Meters Minimum    0
Temperature at 2 Meters Maximum    0
Wind Speed                         0
Name                               0
holidays                           0
dtype: int64

In [80]:
merged_data['Name']=merged_data['Name'].fillna('Working day')

In [81]:
merged_data.shape

(161275, 27)

Converting to CSV file

In [ ]:
merged_data.to_csv("..\Dataset\Final dataset.csv",index=False)