Merging datas and Cleaning

In [32]:
import numpy as np
import pandas as pd

In [33]:
df1=pd.read_csv("..\Dataset\Energy Consuption data.csv")
df1.head()

,Emission_date,Expiration_date,CO2_emission,Emission_classification,Consumption_KWh_per_m2_per_year,Consumption_classification,Building_type,Building_condition,Year_of_construction,Surface_area_m2,Municipality,Province,GPS_coordinates,Days_until_expiration,year,month,day,New_date
0,2013-06-29,2023-06-29,30.11,E,142.33,E,Vivienda individual,Existente,1962,49.0,ZARAGOZA,ZARAGOZA,"674903,68 , 4612931,37",3652,2013,6,29,2013-06-29
1,2013-09-26,2023-09-26,46.06,E,174.42,E,Vivienda individual,Existente,1974,81.0,ZARAGOZA,ZARAGOZA,"674062,96 , 4612970,24",3652,2013,9,26,2013-09-26
2,2014-02-26,2024-02-26,20.30,D,94.16,D,Vivienda individual,Existente,1999,72.0,ZARAGOZA,ZARAGOZA,"671872,34 , 4612101,81",3652,2014,2,26,2014-02-26
3,2013-06-12,2023-06-12,39.21,E,187.66,E,Vivienda individual,Existente,1970,65.0,ZARAGOZA,ZARAGOZA,"676128,95 , 4613401,52",3652,2013,6,12,2013-06-12
4,2013-06-27,2023-06-27,103.75,G,409.03,G,Vivienda individual,Existente,1965,46.0,ZARAGOZA,ZARAGOZA,"674806,83 , 4613067,64",3652,2013,6,27,2013-06-27

In [34]:
df2=pd.read_csv("..\Dataset\weather(2013-23).csv")
df2.head()

,Earth Skin Temperature,Humidity,Surface Pressure,Temperature at 2 Meters Range,Temperature at 2 Meters Minimum,Temperature at 2 Meters Maximum,Wind Speed,date
0,6.26,5.00,97.43,7.57,3.69,11.26,7.42,2013-01-01
1,5.80,4.82,98.08,8.99,2.08,11.08,4.56,2013-01-02
2,3.56,3.60,99.10,10.90,0.87,11.76,5.65,2013-01-03
3,5.07,4.27,99.11,14.18,0.88,15.06,3.07,2013-01-04
4,7.21,5.19,98.64,11.91,4.19,16.11,2.79,2013-01-05

In [35]:
df3=pd.read_csv("..\Dataset\holidays.csv")
df3.head()

         Date               Name  holidays
0  2013-01-01     New Year's Day         1
1  2013-01-02     Reconquest Day         1
2  2013-01-06           Epiphany         1
3  2013-01-07  Epiphany observed         1
4  2013-02-11    Carnival Monday         1

#### Rename date columns to 'Date'

In [36]:
df1=df1.rename(columns={'New_date':'Date'})

df2=df2.rename(columns={'date':'Date'})

#### Convert 'date' columns to datetime format

In [37]:
df1['Date']=pd.to_datetime(df1['Date'])
df2['Date']=pd.to_datetime(df2['Date'])
df3['Date']=pd.to_datetime(df3['Date'])

In [38]:
df1.columns

Index(['Emission_date', 'Expiration_date', 'CO2_emission',
       'Emission_classification', 'Consumption_KWh_per_m2_per_year',
       'Consumption_classification', 'Building_type', 'Building_condition',
       'Year_of_construction', 'Surface_area_m2', 'Municipality', 'Province',
       'GPS_coordinates', 'Days_until_expiration', 'year', 'month', 'day',
       'Date'],
      dtype='object')

In [39]:
df2.columns

Index(['Earth Skin Temperature', ' Humidity', 'Surface Pressure',
       'Temperature at 2 Meters Range', 'Temperature at 2 Meters Minimum',
       'Temperature at 2 Meters Maximum', 'Wind Speed', 'Date'],
      dtype='object')

In [40]:
df3.columns

Index(['Date', 'Name', 'holidays'], dtype='object')

#### Merging date columns